@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0efec ;
    font-family: 'Nunito', sans-serif;
}

.header{
    height: 7em;
    background: #2046BE;
}

header h1{
    text-align: center;
    padding-top: .3em;
    font-size: 4rem;
    margin-left: .3em; 
    color: #E2E3FF;
    letter-spacing: .5em;
    font-weight: bolder;
}

/* Burguer menu */
#sidebar{
    position: fixed;
    background-color: #000;
    height: 100%;
    width: 23em;
    left: -23em;
    transition: .7s;
    z-index: 6;
}

#sidebar ul li{
    list-style: none;
    font-size: 3rem;
    padding: .5em .5em;
}

#sidebar ul li a {
    color: #E2E3FF;
    text-decoration: underline #2046BE 3px;
}

#sidebar .burguer-menu{
    position: absolute;
    top: 2em;
    left: 25em;
}

#sidebar .burguer-menu:hover{
    cursor: pointer;
}

.burguer-menu span{
    width: 3em;
    border-radius: 2px;
    height: 4px;
    background: black;
    display: block;
    margin-top: 6px;
    transition: 1s;
}


/* primera pantalla del quiz */
.hiden{
    width: 60%;
    height: 49.5%;
    margin: 5em auto 3.5em auto;
    text-align: center;
    /* display: none; */
}

.hiden h1{
    padding: 0 1em;
    font-size: 3rem;
    margin-top: 1em;
    color: black;
}

.hiden .btn{
    font-size: 1.5rem;
    color: wheat;
    background-color: blue;
    box-shadow: 5px 5px 11px #A2B1C6 , -2px -2px 3px  #fff;
    width: 50%;
} 

/* quizz */
.wrapper{
    width: 50%; 
    padding: 3em 3em;
    margin-top: 4em;
    margin-left: 25%;
    margin-bottom: 3em;
    border-radius: .9em;
    background-color: #E1E6EC;
    box-shadow: 5px 5px 11px #A2B1C6 , -5px -5px 11px  #fff  ;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    display: none;
}

.italic{
    font-style: italic;
}

button{
    height: 3.5rem;
    width: 40%;
    opacity: .9;
    background-color: #E1E6EC;
}

.btn1{
    background-color: #859EFF; 
    box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 11px  #fff;
}

.btn2{
    background-color: #34AC2C; 
    box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 11px  #fff;
}

.btn3{
    background-color: #FF9B4D; 
    box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 11px  #fff;
}

.btn4{
    background-color: #FF4D41 ; 
    box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 11px  #fff;
}

.final-btn{
    display: none;
}

.final-btn span{
    color: #E1E6EC;
}

/* REPRODUCTOR */
.container{
    position: absolute;
    top: 25%;
    left: 24.5%;
    padding: 6px;
    width: 49%;
    height: 21em;
    border-radius: 8px;
    background-color: #E1E6EC;
    box-shadow: 5px 5px 11px #A2B1C6 , -5px -5px 11px  #fff  ;
    text-align: center;
    display: none;
}

.player img{
    width: 25%;
    margin-bottom: 1em;  
}

.container h1{
    font-size: 1.5rem;
    margin: .5em 0 1em 0;
}
.player-btns{
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}
.player-btns button{
    position: relative;
    width: 3.125em;
    height: 3.125em;
    padding: 1em;
    border-radius: 5.625em;
    background-color: #E1E6EC;
    text-align: left;
    margin: 10px 9px;
    border: none;
    box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 11px  #fff  ;
    /*background:linear-gradient(-45deg,#a2b1c6,#fff);*/
}
.player-btns button:active{
    background: #E1E6EC;
    box-shadow: inset 2px 2px 5px #A2B1C6 , -2px -2px 11px  #fff  ;
}

.player-btns button img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 42%;
    height: 42%;
}

.level{
    width: 80%;
    -webkit-appearance: none;
    appearance: none;
    background: #E1E6EC;
    box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 11px  #fff  ;
    border-radius: 50px;
    margin: .9px 0 0 2em;
}

/* texto de compra */
.wrapper2 {
    margin: 0 auto;
}

.title1 {
    text-align: center;
    padding: 0 .5em;
    line-height: 2em;
    font-size: 3rem;
}

.btn-buy{
    width: 25%;
    height: 4em;
    margin-left: 37%;
    margin-bottom: 4em;
}


.footer{
    position:fixed;
    bottom: 0;
    background-color: #000;;
    height: 6%;
    width: 100%;
}

.footer p{
    font-size: 1.2rem;
    margin-top: 2px;
    color: #E1E6EC;
    text-decoration: underline #2046BE 3px;
}

@media (min-width: 1600px){

    .hiden h1{
        font-size: 4.5rem;
    }

    .hiden .btn{
        font-size: 2rem;
        padding-top: .5em;
        padding-bottom: 2em;
        width: 45%;

    } 

    .wrapper{
        max-width: 50em;
        padding: 3em 3em;
        margin-top: 4em;
        margin-left: 28%;
        margin-bottom: 3em;
    }
}

@media (max-width: 850px){

  header h1 {
      font-size: 3.3rem;
  }  

  .title1{
      font-size: 2rem;
  }
}


