*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    background-color: #f0efec ;
}

.nav1{
    background-color: #ACD4D6;
}

/* primera pantalla del quiz */
.hiden{
    width: 30%;
    height: 45%;
    background-color: rgb(135, 170, 222);
    position: absolute;
    top: 23%;
    left: 5%;
    z-index: 8;
    border-radius: 10px;
    box-shadow: 5px 5px 11px #A2B1C6 , -5px -5px 11px  #fff;
    text-align: center;
}

.hiden h1{
    font-size: 2.2rem;
    margin-top: 1em;
    color: #E1E6EC;
}

.hiden .btn{
    background-color: #E1E6EC;
    box-shadow: 5px 5px 11px #A2B1C6 , -2px -2px 3px  #fff;
}

/* quizz */
.wrapper{
    width: 30%; 
    padding: .5em;
    margin-top: 7%;
    margin-left: 1em;
    border-radius: .9em;
    background-color: #E1E6EC;
    box-shadow: 5px 5px 11px #A2B1C6 , -5px -5px 11px  #fff  ;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}


.wrapper h1{
    font-size: 1.5rem;
    margin: 0 2em .5em 2em;
}

button{
    height: 3.5rem;
    width: 40%;
    opacity: .9;
    background-color: #E1E6EC;
}

.btn1{
    background-color: #859EFF; 
    box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 11px  #fff;
}

.btn2{
    background-color: #82CD85; 
    box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 11px  #fff;
}

.btn3{
    background-color: #F36E6C; 
    box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 11px  #fff;
}

.btn4{
    background-color: #F3D36C; 
    box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 11px  #fff;
}

/* texto de compra */
.title1 {
    text-align: center;
    padding: 0 .5em;
    line-height: 2em;
    font-size: 3rem;
}

.btn-buy{
    width: 80%;
    height: 4em;
    margin-left: 10%;
}


.footer{
    position: fixed;
    bottom: 0;
    background-color: black;
    height: 6%;
    width: 100%;
    color: #fff;
}

