* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0efec ;
}

.header{
    height: 7em;
    background: #2046BE;
}

header h1{
    text-align: center;
    font-size: 5rem;
    margin-left: .3em; 
    color: #E2E3FF;
    letter-spacing: .5em;
    font-weight: bolder;
}

header img{
    position: fixed;
    top: 1.8em;
    right: 1em;
    width: 3em;
    height: 3.1em;
}

/* primera pantalla del quiz */
.hiden{
    width: 49%;
    height: 52.5%;
    background-color: #2046BE;
    position: absolute;
    top: 29%;
    left: 24.5%;
    z-index: 8;
    border-radius: 10px;
    box-shadow: 5px 5px 11px #A2B1C6 , -5px -5px 11px  #fff;
    text-align: center;
    /* display: none; */
}

.hiden h1{
    padding: 0 1em;
    font-size: 2.5rem;
    margin-top: 1em;
    color: #E2E3FF;
}

.hiden .btn{
    background-color: #E2E3FF;
    box-shadow: 5px 5px 11px #A2B1C6 , -2px -2px 3px  #fff;
    width: 60%;
}

/* quizz */
.wrapper{
    width: 50%; 
    padding: 3em 3em;
    margin-top: 4em;
    margin-left: 24%;
    margin-bottom: 3em;
    border-radius: .9em;
    background-color: #E1E6EC;
    box-shadow: 5px 5px 11px #A2B1C6 , -5px -5px 11px  #fff  ;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}


.wrapper h1{
    font-size: 1.5rem;
    margin: 0 2em .5em 2em;
}

.italic{
    font-style: italic;
}

button{
    height: 3.5rem;
    width: 40%;
    opacity: .9;
    background-color: #E1E6EC;
}

.btn1{
    background-color: #859EFF; 
    box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 11px  #fff;
}

.btn2{
    background-color: #82CD85; 
    box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 11px  #fff;
}

.btn3{
    background-color: #F36E6C; 
    box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 11px  #fff;
}

.btn4{
    background-color: #F3D36C; 
    box-shadow: 2px 2px 5px #A2B1C6 , -2px -2px 11px  #fff;
}

/* texto de compra */
.title1 {
    text-align: center;
    padding: 0 .5em;
    line-height: 2em;
    font-size: 3rem;
}

.btn-buy{
    width: 25%;
    height: 4em;
    margin-left: 37%;
    margin-bottom: 4em;
}


.footer{
    position: fixed;
    bottom: 0;
    background-color: black;
    height: 6%;
    width: 100%;
    color: #fff;
}

